@import "main" ;




.hero {
    background-color: $primaryColor;
    padding: 25px 30vh;
    color: $primaryTextColor;
    margin-top: 110px;
}

.intro {
    background-color: $primaryColor;
    color: $primaryTextColor;
    display: flex;
    justify-content: center;
    padding: 100px 30vh;
      
}

.item {
    flex: 1 ;
    background-color: white;
    color: $primaryColor;
}
.item > img {
    width: 100%;
    height: 100%;
}
.item2{
    padding : 40px
}

@media (max-width: 1200px) {
    .hero {
        padding: 15px 10vh;
    }
}

@media (max-width: 1600px) {
    .intro {
        padding: 100px;

    }
}
@media (max-width: 912px) {
    .intro {
        padding: 50px;
        display: block;
        font-size: 15px;
    }
}

@media (max-width: 500px) {
    .hero {
        padding: 30px;
        display: block;
    }
    .intro {
        padding: 20px;
        display: block;
        font-size: 10px;
    }
}