@import "main" ;

.parent {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
}

.navbar {
    background-color: $primaryColor;
    color: $primaryTextColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30vh;
    vertical-align: baseline
}

.right-panel {
    display: flex;
    list-style-type: none;
    padding: 15px;
}

.right-panel>li {
    margin-left: 15px;
    font-weight: bold;
}

.hamburger {
    display: none;
}

@media (max-width: 880px) {
    .hamburger {
        display: block;
        color: $primaryTextColor;
        height: 30px
    }
    .right-panel>li {
        display: none
    }
}

@media (max-width: 1200px) {
    .navbar {
        padding: 15px 10vh;
    }
}