@import "main" ;


.stories {
    padding: 25px 30vh;
}

.stories-blog-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin : 40px 0px

}

.stories-blog-item {
    background-color: white;
    border : 1px solid gray;
    padding : 30px;
}

@media (max-width: 1600px) {
    .stories {
        padding: 100px;
    }
}

@media (max-width: 1200px) {
    .stories-blog-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px;
        margin : 40px 0px;
        font-size: 13px !important;
    }

}

@media (max-width: 784px) {
    .stories-blog-container {
        grid-template-columns: repeat(1, 1fr);
       
    }

}

@media (max-width: 500px) {
    .stories {
        padding: 40px;
        display: block;
        font-size: 10px;
    }
}







@media (max-width: 800px) {
    .stories>h1 {
        font-size: 20px;
        text-align: center;
    }
}